@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

body {
    background-color: black;
    color: white;
    display: flex;
    padding-top: 100px;
    padding-bottom: 200px;
}

/* Update button styles */
button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease;
    /* Add transition for hover effect */
}

button:hover {
    background-color: #880808;
}

.hero-btns {
    padding: 20px 30px;
    font-size: 35px;
}

.frijole-regular {
    font-family: 'Frijole', system-ui;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: black;
    position: fixed;
    padding-top: 100rem;
}

.App {
    text-align: center;
}

.App-header {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-shadow: 5px;
}

.title {
    font-weight: bolder;
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: #880808;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.center {
    text-align: center;
    border: 3px black;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.container {
    min-height: calc(100vh-200px);
    overflow-y: auto;
    border-bottom: 150px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 100px;
}

.pagination li {
    margin: 0 5px;
}
